@using TravalAppWebUI.Core.DTO;
@model List<HotelDTO>
@{
    ViewData["Title"] = "Otel İşlemleri";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Oteller</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#modal-YeniOtel">Ekle</button>

        </div>
    </div>
    <div class="card-body">

        <table id="tblOteller" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Otel Adı </th>
                    <th>Adresi </th>
                    <th>Oda Sayısı </th>
                    <th>Kişi Sayısı </th>
                    <th>Rezervasyon Tarihi </th>
                    <th>ülke </th>
                    <th>Şehir </th>
                    <th>Fiyat </th>
                    <th style="width:20%"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Convert.ToInt32(i+1)</td>
                            <td>@Model[i].Name</td>
                            <td>@Model[i].Adress</td>
                            <td>@Model[i].RoomNumber</td>
                            <td>@Model[i].NumberOfTravelers</td>
                            <td>@Model[i].ReservationDate</td>
                            <td>@Model[i].Country</td>
                            <td>@Model[i].City</td>
                            <td>@Model[i].Price</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info btnHotelDetail" data-guid=@Model[i].Guid data-toggle="modal" data-target="#modal-DetayOtel">Güncelle</button>
                                    <button type="button" class="btn btn-danger btnOtelSil" data-guid=@Model[i].Guid>Sil</button>
                                </div>
                            </td>
                        </tr>
                        
                    }
                }



            </tbody>
        </table>


    </div>

</div>

<div class="modal fade" id="modal-YeniOtel">
    <div class="modal-dialog modal-YeniOtel">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni Otel</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelAd_Add">Otel Adı</label>
                    <input type="text" class="form-control" id="txtOtelAd_Add">
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelAdres_Add">Adresi</label>
                    <input type="text" class="form-control" id="txtOtelAdres_Add">
                </div>
            </div>
            
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelRN_Add">Oda Sayısı</label>
                <input type="number" class="form-control" id="txtOtelRN_Add">
                </div>   

            </div>
                   <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelNOT_Add">Kişi Sayısı</label>
                    <input type="number" class="form-control" id="txtOtelNOT_Add">
                </div>
            </div> 
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelDT_Add">Rezervasyon Tarihi</label>
                    <input type="datetime" class="form-control" id="txtOtelDT_Add">
                </div>
            </div> 
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelCn_Add">Ülke</label>
                    <input type="text" class="form-control" id="txtOtelCn_Add">
                </div>
            </div> 
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelCt_Add">Şehir</label>
                    <input type="text" class="form-control" id="txtOtelCt_Add">
                </div>
            </div> 
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelPrc_Add">Fiyat</label>
                    <input type="number" class="form-control" id="txtOtelPrc_Add">
                 </div>
            </div>
            <div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnAddOtel">Kaydet</button>
            </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-DetayOtel">
    <div class="modal-dialog modal-DetayOtel">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelAd_Update">Otel Adı</label>
                    <input type="text" class="form-control" id="txtOtelAd_Update">
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelAdres_Update">Adresi</label>
                    <input type="text" class="form-control" id="txtOtelAdres_Update">
                </div>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelRN_Update">Oda Sayısı</label>
                    <input type="number" class="form-control" id="txtOtelRN_Update">
                </div>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelNOT_Update">Kişi Sayısı</label>
                    <input type="number" class="form-control" id="txtOtelNOT_Update">
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelDT_Update">Rezervasyon Tarihi</label>
                    <input type="datetime" class="form-control" id="txtOtelDT_Update">
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelCn_Update">Ülke</label>
                    <input type="text" class="form-control" id="txtOtelCn_Update">
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelCt_Update">Şehir</label>
                    <input type="text" class="form-control" id="txtOtelCt_Update">
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtOtelPrc_Update">Fiyat</label>
                    <input type="number" class="form-control" id="txtOtelPrc_Update">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnUpdateOtel">Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<input type="hidden" id="hdnUpdateHotelGUID" />
<script>
    $(function () {
        $("#tblOteller").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#tblOteller_wrapper .col-md-6:eq(0)');

        $('#btnAddOtel').click(function () {

            var hotel = new Object();

            hotel.Name = $('#txtOtelAd_Add').val();
            hotel.Adress = $('#txtOtelAdres_Add').val();
            hotel.RoomNumber = $('#txtOtelRN_Add').val();
            hotel.NumberOfTravelers = $('#txtOtelNOT_Add').val();
            hotel.ReservationDate = $('#txtOtelDT_Add').val();
            hotel.Country = $('#txtOtelCn_Add').val();
            hotel.City = $('#txtOtelCt_Add').val();
            hotel.Price = $('#txtOtelPrc_Add').val();

            $.ajax({
                url: '/Admin/AddHotel',
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { hotel },
                success: function (response) {
                    if (response.success) {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Otel Başarıyla Eklendi',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        setTimeout(function () { window.location.reload() }, 3000);

                    }
                    else {

                        var ErrorInfo = response.ErrorInfo;
                        var Hatalar = '';
                        for (var i = 0; i < ErrorInfo.Error.length; i++) {
                            Hatalar += ErrorInfo.Error[i] + '</br>';
                        }

                        Swal.fire({
                            icon: 'error',
                            title: ErrorInfo.ErrorDescription,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });

        });

        $('.btnHotelDetail').click(function () {
            $('#txtOtelAd_Update').val('');
            var hotelGUID = $(this).attr('data-guid');
            $.ajax({
                url: '/Admin/Hotel/' + hotelGUID,
                type: 'get',
                success: function (response) {
                    if (response.success) {


                        $('#btnUpdateOtel').attr('data-guid', hotelGUID)

                        $('#txtOtelAd_Update').val(response.data.Name);
                        $('#txtOtelAdres_Update').val(response.data.Adress);
                        $('#txtOtelRN_Update').val(response.data.RoomNumber);
                        $('#txtOtelNOT_Update').val(response.data.NumberOfTravelers);
                        $('#txtOtelDT_Update').val(response.data.ReservationDate);
                        $('#txtOtelCn_Update').val(response.data.Country);
                        $('#txtOtelCt_Update').val(response.data.City);
                        $('#txtOtelPrc_Update').val(response.data.Price);

                    }
                    else {

                        var ErrorInfo = response.ErrorInfo;
                        var Hatalar = '';
                        if (ErrorInfo.Error != null) {
                            for (var i = 0; i < ErrorInfo.Error.length; i++) {
                                Hatalar += ErrorInfo.Error[i] + '</br>';
                            }
                        }


                        Swal.fire({
                            icon: 'error',
                            title: ErrorInfo.ErrorDescription,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });


        });


        $('#btnUpdateOtel').click(function () {
            var hotel = new Object();

            hotel.Name = $('#txtOtelAd_Update').val();
            hotel.Adress = $('#txtOtelAdres_Update').val();
            hotel.RoomNumber = $('#txtOtelRN_Update').val();
            hotel.NumberOfTravelers = $('#txtOtelNOT_Update').val();
            hotel.ReservationDate = $('#txtOtelDT_Update').val();
            hotel.Country = $('#txtOtelCn_Update').val();
            hotel.City = $('#txtOtelCt_Update').val();
            hotel.Price = $('#txtOtelPrc_Update').val();
            hotel.Guid = $(this).attr('data-guid');

            $.ajax({
                url: '/Admin/UpdateHotel',
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { hotel },
                success: function (response) {
                    if (response.success) {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Otel Başarıyla Güncellendi',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        setTimeout(function () { window.location.reload() }, 3000);

                    }
                    else 
                    {

                        var ErrorInfo = response.ErrorInfo;
                        var Hatalar = '';
                        for (var i = 0; i < ErrorInfo.Error.length; i++) {
                            Hatalar += ErrorInfo.Error[i] + '</br>';
                        }

                        Swal.fire({
                            icon: 'error',
                            title: ErrorInfo.ErrorDescription,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });

        });


        $('.btnOtelSil').click(function () {
            var hotelGUID = $(this).attr('data-guid');

            Swal.fire({
                title: 'UYARI!',
                text: "'Oteli Silmek İstediğinizden Emin misiniz?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet!',
                cancelButtonText: 'Hayır',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/RemoveHotel/' + hotelGUID,
                        type: 'POST',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        success: function (response) {
                            if (response.success) {

                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Otel Başarıyla Silindi',
                                    showConfirmButton: false,
                                    timer: 3000
                                })
                                setTimeout(function () { window.location.reload() }, 3000);

                            }
                            else {

                                var ErrorInfo = response.ErrorInfo;
                                var Hatalar = '';
                                for (var i = 0; i < ErrorInfo.Error.length; i++) {
                                    Hatalar += ErrorInfo.Error[i] + '</br>';
                                }

                                Swal.fire({
                                    icon: 'error',
                                    title: ErrorInfo.ErrorDescription,
                                    html: Hatalar
                                })


                            }
                        },
                        error: function (err) {

                            Swal.fire({
                                icon: 'error',
                                title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                            })
                        }
                    });
                }
            })
        });

    })

</script>